canvas { 
    display: block; /* Ensure canvas takes up the full viewport */
}
/* Basic styling to avoid the white screen */
body {
    margin: 0;
    /* overflow: hidden; */
    background: black; /* Set background to black or any other color */
    font-family: Arial, sans-serif;
}
/* #ui {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 10; 
} */
.back-img{
    height: 100vh;
    background-image: url("/imgs/ArtDepartScreen.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100px;
    transition: opacity 1s ease, transform 1s ease; 
}
.slide-fade {
    opacity: 0;
    transform: translateY(-100px); 
}
#play-btn {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 20px;
    background-color: rgb(168, 52, 52);
    color: white;
    border: none;
    cursor: pointer;
}

.message {
    position: fixed; /* Use fixed positioning */
    bottom: 20px; /* Distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position to center it */
    color: white; /* Change color as needed */
    font-size: 240px; /* Adjust size as needed */
    text-align: center; /* Center the text */
    z-index: 1000; /* Ensure it appears above other elements */
    display: none; /* Initially hide the message */
}

.show-message {
    display: block; /* Show the message when active */
}

.pop-up-container, .test-container{
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid black;
    display: none;
}
.pop-up-container > div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}
img{
    aspect-ratio: 1/1;
    max-width: 300px;
}
#close-btn {
    margin: 0;
    border: 0;
    padding: 0;
    background: hsl(225, 9%, 9%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
  }
  
  #close-btn .icon-cross {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  #close-btn .icon-cross::before,
  #close-btn .icon-cross::after {
    content: '';
    position: absolute;
    top: calc((40px - 6px) / 2);
    left: 0;
    right: 0;
    height: 6px;
    background: #fff;
    border-radius: 6px;
  }
  
  #close-btn .icon-cross::before {
    transform: rotate(45deg);
  }
  
  #close-btn .icon-cross::after {
    transform: rotate(-45deg);
  }
  
  #close-btn:hover,
  #close-btn:focus {
    transform: rotateZ(90deg);
    background: hsl(218, 22%, 7%);
  }
  
.test-container > h2{
    color: black;
    padding-bottom: 50px;
    text-align: center;
}
.single-card {
	height: 450px;
	max-width: 300px;
	margin: 0 auto;
}
.wrapper {
	perspective: 900px;
    display: flex;
    gap: 30px;
}
.single-card {
	text-align: center;
	transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
	transform-style: preserve-3d;
}
.rotate{
	transform: rotateY(180deg);
} 
.front, .back {
	width: 300px;
	position: relative;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.front {
	cursor: pointer;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50px;
	background-size: cover;
	background-position: center center;
    aspect-ratio: 1/1;
}
.back {
	transform: rotateY(180deg);
	position: absolute;
	border-radius: 50px;
	height: 450px;
}
#front-1{
    background-image: url("/imgs/vincent-van-gogh\ \(1\).jpg");
}
#front-2{
    background-image: url("/imgs/Mona_Lisa\ \(1\).jpg");
}
#front-3{
    background-image: url("/imgs/Roses_Vincent_van_Gogh\ \(1\).jpg");
}
#back-1, #back-2{
    background-color: red;
}
#back-3{
    background-color: green;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
